.foodTable img {
  width: 50px;
  height: 30px;
  max-width: 30px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
}
.loading {
  background: transparent;
  position: fixed;
  width: 150vh;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
